@media only screen and (max-width:991px){
    nav{
      padding: 0px 10px 0px 10px !important;
  }
  .navbar-nav  li a{
    margin-left: 0px !important;
    margin-bottom: 10px;
  }
  .dropdown-menu{
    margin-left: 0px !important;
}
}