@media only screen and (max-width:1400px){
  
    .carousel-container {
        height: 100% !important; /* adjust the height to your desired value */
        width: 60% !important; /* adjust the width to your desired value */
      }
      .carousel-inner .carousel-caption{
        margin-bottom: 60px; 
        padding: 10px;
    }

}

@media only screen and (max-width:1200px){

    .carousel-container {
        height: 100%; /* adjust the height to your desired value */
        width: 60%; /* adjust the width to your desired value */
      }
      .carousel-inner .carousel-caption{
        margin-bottom: 60px; 
        padding: 10px;
    }
    .banner-header{
        font-size: 30px;
        margin-bottom: 5px;
    }
    .banner-subheader{
        font-size: 35px;
    }
    .banner-des{
    font-size: 24px;
    }

}

@media only screen and (max-width:991px){
    nav{
      padding: 0px 10px 0px 10px !important;
    }

    .navbar-nav  li a{
      margin-left: 0px !important;
      margin-bottom: 10px;
    }
    .dropdown-menu{
      margin-left: 0px !important;
    }
    .carousel-inner .carousel-caption{
      margin-bottom: 40px; 
      padding: 10px;
  }
    .banner-subheader{
      font-size: 26px;
    }
    .banner-des{
      font-size: 18px;
    }
    .banner-header{
      font-size: 22px;
    }
    .padding-x{
      padding-left: 5px !important;
      padding-right: 5px !important;
  }
  /* fish details page */
  .fish-details{
    padding: 5px 15px 5px;
  }
  .order-section{
    padding-left: 30px;
    padding-right: 30px;
  }
  .best-sale .padding-x{
      padding-left: 20px !important;
      padding-right: 20px !important;
  }
}

@media only screen and (max-width:768px){

    .carousel-container {
        height: 100%; /* adjust the height to your desired value */
        width: 80%; /* adjust the width to your desired value */
      }
      .carousel-inner .carousel-caption{
        margin-bottom: 30px; 
        padding: 10px;
    }
    .banner-header{
        font-size: 18px;
      }
    .banner-subheader{
        font-size: 22px;
      }
      .banner-des{
        margin-top: 5px !important;
        font-size: 16px;
      }
      .padding-x{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .image-container .popup-image img{
      width: 95%;
  }
  .order-section{
    padding-left: 30px;
    padding-right: 30px;
}
}

@media only screen and (max-width:576px){
  .contact-section{
    padding: 0px 20px 15px 20px !important;
}
.carousel-inner {
  height: 100% !important; /* adjust the height to your desired value */
  width: 95% !important; /* adjust the width to your desired value */
}
      .carousel-inner .carousel-caption{
        margin-bottom: 7px;
    }
    
    .banner-header{
        font-size: 14px;
        /* margin-bottom: -5px; */
      }
    .banner-subheader{
        font-size: 14px;
        margin-bottom: -5px;
      }
      .banner-des{
        font-size: 14px;
      }
      .padding-x{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .order-section{
      padding-left: 30px;
      padding-right: 30px;
  }
  .best-sale{
    padding: 0px 20px 0px 20px !important;
}
}