*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* design navebar */
nav{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    padding: 0px 50px 0px 50px !important;
}
.contact-section{
    margin-bottom: 80px !important;
} 
:root{
    --bangla-font:'Baloo Da 2', cursive;
}
.bangla-font{
    font-family: var(--bangla-font);
    font-weight: 500;
}
.primary-btn{
    color: #fff !important;
    font-weight: bold;
    background-color: #1eb5ea;
    border: none;
}
.primary-btn:hover{
    background-color: #1da1d1;
    transform: scale(1.02);
    transition: 0.5s;
}
.navbar-brand img{
    width: 85px ;
}
.disabled{
    border: 2px solid #1eb5ea;
    border-radius: 10px;
    text-align: center;
    color: #4b4848 !important;
}
.navbar-nav  li a{
    color: #4b4848;
    font-weight: bold;
    margin-left: 45px;
}
.navbar-nav  li a:hover{
    color: #1eb5ea;
    border-bottom: 2px solid #1eb5ea;
    transform: scale(1.03);
}
.dropdown-menu{
    margin-left: 50px;
    background-color:#FFF;
    border: none;
    border: 2px solid #4b4848;
}
.dropdown-menu .dropdown-item:hover{
    color: #1eb5ea;
    background: none;
    border: none;
}
.dropdown-item{
    text-align: left;
    padding-right: 50px;
}

/* slider */
.carousel-container {
    max-width: 78% !important; 
}
.banner-header,.banner-subheader{
    font-family: var(--bangla-font);
}
.carousel-inner .carousel-caption{
    margin-bottom: 100px; 
    background-color: #b4afaf8c;
    /* padding: 100px; */
    border-radius: 5px;
}


/* shop page design */
.products .card-title,.card-text{
    font-family: var(--bangla-font) !important;
   
}
.products .card-text{
    font-family: var(--bangla-font) !important;
    font-weight: 500;
    
}
.products .card-title {
    color: #1da1d1 !important;
    font-weight: 600;
}
.page-header{
    font-family: var(--bangla-font);
    font-weight: 600;
    padding-top: 85px !important;
    padding-bottom: 45px !important;
}
.page-subheader{
    font-family: var(--bangla-font);
    font-weight: 600;
    margin-bottom: 15px;
}

/* contact page style */

.contact .address, .about-text{
    font-family: var(--bangla-font) !important;
    font-weight: 500;
    font-size: 18px;
}
.about-text{
    font-family: var(--bangla-font) !important;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 100px !important;
}
.fa-solid{
    margin-right: 5px;
    color: #1eb5ea !important;
    font-size: 18px;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 55vh;
    border: none;
  }
  .map-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
/* form style */
form{
    font-family: var(--bangla-font);
}
.form-input-field{
    border: none;
    border-bottom: 1px solid #4b4848;
    border-radius: 0px;
    box-shadow: none !important;
}
 input::placeholder .contact-form{
    color: #4b4848;
}
input:focus {
    outline: none;
    box-shadow: none;
  }
  .lable-right{
    text-align: right !important;
  }
  .main-address{
    margin: auto;
    padding-bottom: 25px;
  }
