*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* design navebar */
nav{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    padding: 10px 50px 10px 50px !important;
}
a{
    text-decoration: none;
}
.contact-section{
    margin-bottom: 80px !important;
} 
:root{
    --bangla-font:'Baloo Da 2', cursive;
}
.bangla-font{
    font-family: var(--bangla-font);
    font-weight: 500;
}
.primary-btn{
    color: #fff !important;
    font-weight: bold;
    background-color: #1eb5ea;
    border: none;
}
.primary-btn:hover{
    background-color: #1da1d1;
    transform: scale(1.02);
}
.navbar-brand img{
    width: 85px ;
}
.disabled{
    border: 2px solid #1eb5ea;
    border-radius: 10px;
    text-align: center;
    color: #4b4848 !important;
}
.navbar-nav  li a{
    color: #4b4848;
    font-weight: bold;
    margin-left: 45px; 
    /* font-size: 18px; */
}
.navbar-nav  li a:hover{
    color: #1eb5ea;
    border-bottom: 2px solid #1eb5ea;
    transform: scale(1.03);
}
.dropdown-menu{
    margin-left: 50px;
    background-color:#FFF;
    border: none;
    border: 2px solid #4b4848;
}
.dropdown-menu .dropdown-item:hover{
    color: #1eb5ea;
    background: none;
    border: none;
}
.dropdown-item{
    text-align: left;
    padding-right: 50px;
}

/* slider */
.carousel-container {
    max-width: 78% !important; 
}
.banner-header,.banner-subheader{
    font-family: var(--bangla-font);
}
.carousel-inner .carousel-caption{
    margin-bottom: 100px; 
    background-color: #b4afaf8c;
    /* padding: 100px; */
    border-radius: 5px;
}


/* shop page design */
.products .card-title,.card-text{
    font-family: var(--bangla-font) !important;
   
}
.products .card-text{
    font-family: var(--bangla-font) !important;
    font-weight: 500;
}
.products .card-title {
    color: #1da1d1 !important;
    font-weight: 600;
}
.page-header{
    font-family: var(--bangla-font);
    font-weight: 600;
    padding-top: 85px !important;
    padding-bottom: 45px !important;
}
.page-subheader{
    font-family: var(--bangla-font);
    font-weight: 600;
    margin-bottom: 15px;
}

/* contact page style */

.contact .address, .about-text{
    font-family: var(--bangla-font) !important;
    font-weight: 500;
    font-size: 18px;
}
.about-text{
    font-family: var(--bangla-font) !important;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 100px !important;
}
.fa-solid{
    margin-right: 5px;
    color: #1eb5ea !important;
    font-size: 18px;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 55vh;
    border: none;
  }
  .map-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
/* form style */
form{
    font-family: var(--bangla-font);
}
.form-input-field{
    border: none;
    border-bottom: 1px solid #4b4848;
    border-radius: 0px;
    box-shadow: none !important;
}
 input::placeholder{
    color: #7a79799f ;
}
input:focus {
    outline: none;
    box-shadow: none;
  }
  .lable-right{
    text-align: right !important;
  }
  .main-address{
    margin: auto;
    padding-bottom: 25px;
  }
/* footer section */
footer{
    background-color: #000 !important;
}
.bangla-font-footer{
    font-family: var(--bangla-font);
    font-size: 20px;
    border-bottom: 1px solid #4b4848 !important;
}
.footer-links a{
    text-decoration: none;
}
.footer-links a:hover{
    color: #1eb5ea !important;
    transform: scale(1.5) !important;
}
.fa-brands{
    color: #1eb5ea !important;
    font-size: 20px;
    margin-left: 10px;
}
.fa-brands:hover{
    color: #1e95c0 !important;
    transform: scale(1.05);
}

/* home page desing  */
.best-sale{
    padding: 0px 50px 0px 50px !important;
}
.padding-x{
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.margin-y{
    margin-top: 85px !important;
}

/* photo gallery */
.image-container .card .image{
    border-radius: 5px;
    border: 10px solid #fff !important;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}
.image-container .card img{
    transition: 0.2s linear;
    object-fit: cover;
    border-radius: 5px;
}
.image-container .card img:hover{
  transform: scale(1.02);
}

/* popup image */
.image-container .popup-image{
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100; 
    display: none;  
}
.image-container .popup-image span{
    position: absolute;
    top: 0;
    right: 100px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;   
}

.image-container .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 50%;
    object-fit: cover;
}
.products:hover{
    box-shadow: 5px 1px 5px 1px rgba(0, 0, 0, 0.1) !important;
}

/* fish details page */
.fish-details{
    padding: 45px 75px 35px 15px;
}
.fish-details .card-text{
    text-align: justify;
}
/* order page */
.order-section{
    padding-left: 150px;
    padding-right: 150px;
}